<div class="row justify-content-center">
  <div class="col-sm-8 my-5">
    <%= form_with url: collections_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "search-bar",
            placeholder: "A search engine for your life"
        %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
  </div>
</div>
<% if params[:query].present? %>
  <div class="collections-header">
    <h2> Search Results</h2>
  </div>
<% else %>
  <div class="collections-header">
    <h2>My Collections</h2>
  </div>
<% end %>
<div class="all-collections-container">
  <%= link_to items_path do %>
    <div class="home-collection-card">
      <div class="home-collection-image">
      </div>
      <div class="home-collection-title">
        <h3>All Items</h3>
      </div>
    </div>
  <% end %>
  <% if params[:query].present? %>
    <% @results.each do |result| %>
      <% if result.searchable_type == "Collection" %>
        <%= link_to collection_path(result.searchable_id) do %>
          <div class="home-collection-card">
            <div class="home-collection-image">
            </div>
            <div class="home-collection-title">
              <%= render "collection", collection: result   %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to item_path(result.searchable_id) do %>
          <div class="home-collection-card">
            <div class="home-collection-image">
            </div>
            <div class="home-collection-title">
              <%= render "item", item: result %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% @collections.each do |collection| %>
      <%= link_to collection_path(collection) do %>
        <div class="home-collection-card">
          <div class="home-collection-image">
          </div>
          <div class="home-collection-title">
            <h3><%= collection.label %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="add-button dropdown-button">
  <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="">
      <div>
        <%= simple_form_for(@collection) do |f| %>
          <%= f.input :label %>
          <%= f.input :description %>
          <%= f.submit %>
        <% end %>
      </div>
    </a>
    <a class="dropdown-item" href="#"><%= link_to('Add a new item', new_item_path) %></a>
  </div>
</div>
