<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: collections_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "A search engine for your life"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div>
  <% @collections.each do |collection| %>
    <%= link_to collection_path(collection) do %>
      <ul>
        <h3><%= collection.label %></h3>
        <p><%= collection.description %></p>
      </ul>
    <% end %>
  <% end %>
</div>

# floating plus icon
<%= image_tag('homepage-add-button.svg', alt: 'Add Button', style: 'height:50px') %>

# form to add new collection
<div>
  <%= simple_form_for(@collection) do |f| %>
    <%= f.input :label %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>

# link to add new item
<%= link_to('Add new item', new_item_path, class: 'btn btn-primary') %>
