<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <h2 class="daytm-navbar-logo">daytm</h2>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-link suggestions">
            <!-- Button trigger modal -->
            <button type="button" class="black-hollow-btn" data-bs-toggle="modal" data-bs-target="#SuggestionsModal">
              <i class="fa-regular fa-lightbulb"></i>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="SuggestionsModal" tabindex="-1" aria-labelledby="SuggestionsModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content rounded-5">
                  <div class="modal-header d-flex flex-column align-items-center">
                    <h3 class="modal-title" id="SuggestionsModalLabel">Suggestions:</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for @user_suggestion do |f| %>
                      <div class="d-flex flex-column bd-highlight mb-3 checkbox-spacing">
                        <%= f.collection_check_boxes :suggestion, @suggestions, :id, :content %>
                      </div>
                      <div class="d-flex justify-content-center">
                        <%= f.button :submit, "Complete", class: "blue-primary-btn m-3" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-link">
            <!-- Button trigger modal -->
            <button type="button" class="btn black-hollow-btn" data-bs-toggle="modal" data-bs-target="#MemberModal">
              Add Member
            </button>
            <!-- Modal -->
            <div class="modal fade" id="MemberModal" tabindex="-1" aria-labelledby="MemberModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-5">
                  <div class="modal-header d-flex flex-column align-items-center">
                    <h3 class="modal-title" id="MemberModalLabel">Add a Member</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for(@member, html: { class: "" }) do |f| %>
                        <%= f.input :first_name %>
                        <%= f.input :last_name %>
                        <%= f.input :photos, as: :file, input_html: { multiple: false }, label: "Add a profile picture here"%>
                        <div class="d-flex justify-content-center">
                          <%= f.submit class: "blue-primary-btn m-3" %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-link">
            <button type="button" class="black-hollow-btn" data-bs-toggle="modal" data-bs-target="#CollectionModal">
              <p class="">Add Collection</p>
            </button>
            <!-- Modal -->
            <div class="modal fade rounded-3" id="CollectionModal" tabindex="-1" aria-labelledby="CollectionModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-5">
                  <div class="modal-header d-flex flex-column align-items-center">
                    <h3 class="modal-title" id="CollectionModalLabel">Add a Collection</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body d-flex flex-column align-items-center">
                    <%= simple_form_for(@collection, html: { class: "" }) do |f| %>
                      <%= f.input :label %>
                      <%= f.input :description %>
                        <%= f.input :photo_url, label: "Choose a cover", collection: [
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Pink_Sitting_On_Chair_dmhiv5.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Pink_Sitting_On_Chair_dmhiv5.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Red_Torso_kyvgtb.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Red_Torso_kyvgtb.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Walking_In_the_Park_brvkyb.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Walking_In_the_Park_brvkyb.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Power_Moves_-_Standing_hskmff.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Power_Moves_-_Standing_hskmff.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Red_Sitting_On_Chair_astucs.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575989/collection_images/Tutto_Ricco_-_Red_Sitting_On_Chair_astucs.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Brazuca_-_Planning_1_axhaln.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Brazuca_-_Planning_1_axhaln.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Brazuca_-_Planning_zgipgr.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Brazuca_-_Planning_zgipgr.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Power_Moves_-_Full_Body_gt0c22.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Power_Moves_-_Full_Body_gt0c22.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Citta%CC%80_-_Standing_nnuzjb.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Citta%CC%80_-_Standing_nnuzjb.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Humaaans_-_1_Character_ysea51.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Humaaans_-_1_Character_ysea51.png"],
                          [image_tag("https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Humaaans_-_Standing_gu2xqc.png", height: 75), "https://res.cloudinary.com/dp3xfbod8/image/upload/v1686575988/collection_images/Humaaans_-_Standing_gu2xqc.png"]
                        ], as: :radio_buttons, wrapper_html: { class: "d-flex flex-wrap justify-content-center" } %>
                      <div class="d-flex justify-content-center">
                        <%= f.submit class: "blue-primary-btn m-3" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-link">
            <%= link_to "Home", "/", class: "black-hollow-btn text-decoration-none" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://cdn.onlinewebfonts.com/svg/img_550782.png", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div>
