<%= link_to item_path(item) do %>
  <div class="collections-show-item-card">
    <% if item.photos.attached? %>
      <div class="collections-show-image">
        <%=cl_image_tag(item.photos.first.key, format: :jpg) %>
      </div>
    <% else %>
      <div class="collections-show-image">
        <%=cl_image_tag("eb29e166f6bd2b605ac17b58a9f2f7ac_lugu4k", width: 400, height: 600, crop: :fill, format: :jpg) %>
      </div>
    <% end %>
    <div class="collections-show-item-card-info">
      <div class="collections-show-info-top">
        <h1 class="collections-show-title"><%= item.title %></h1>
        <div class="collections-show-item-card-description">
          <%= item.description %>
          <div class="item-show-tags-heading">
            <i class="fa-solid fa-calendar-days mx-1 mb-3"></i> <%= item.date.strftime('%Y-%m-%d') %>
          </div>
        </div>
      </div>

      <div class="collections-show-info-bottom">
        <div class="collections-show-member-avatars">
          <% item.members.each do |member| %>
            <%# <%= member.first_name %>
            <% if member.photos.attached? %>
              <%=cl_image_tag(member.photos.first.key, class: "avatar") %>
            <% end %>
          <% end %>
        </div>
        <div collections-show-comments-bottom>
          <%= item.comments.count %>
          <i class="fa-solid fa-comment"></i>
        </div>
      </div>
    </div>
  </div>
<% end %>
