

<div class="new-item-container">
  <h1>Add New Item</h1>
  <div class="new-item-form-container">
    <div class="new-item-image-container">
      <%= simple_form_for(@item) do |f| %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, "Save" %>
      <% end %>
    </div>
  <div class="new-item-form-inputs-container">
  <%= simple_form_for(@item) do |f| %>
    <%= f.input :title %>
    <%= f.association :tags,
        collection: Tag.all,
        input_html: {multiple: true, data: {controller: "tom-select"}},
        include_hidden: false
    %>
    <%= f.input :date, html5: true %>
    <%= f.input :description %>
    <%= f.association :members, collection: @members, label_method: :full_name, as: :check_boxes %>
    <%= f.association :collections, collection: @collections, label_method: :label, as: :check_boxes %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Save" %>
  <% end %>
</div>

    <!-- Button trigger modal -->
    <button type="button" class="add-new-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add tag
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new tag</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@tag) do |f| %>
            <%= f.input :name %>
            <%= f.submit %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  <div>
    <%= link_to "Back to items", items_path %>
  </div>
</div>
