<div class=" container" >
  <h1>Add New Item</h1>
  <div class="item-container">
  </div>
  <%= simple_form_for(@item) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :format %>
    <%= f.input :date %>
    <%= f.input :description%>
  </div>

  <div class="form-actions">
      <%= f.button :submit, "Save" %>
    </div>
  <% end %>

  <div>
    <%= link_to "Back to items", items_path %>
  </div>
</div>
