<div class="new-item-container">
  <div class="new-item-form-container">
    <h1>Add New Item</h1>
    <%= simple_form_for(@item) do |f| %>
      <div class="new-item-form-inputs-container">
        <div class="new-item-form-photos d-flex flex-column justify-content-around">
          <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'photo-drag'  }, label: "Drag & drop your photo here"%>
          <img src="https://res.cloudinary.com/dp3xfbod8/image/upload/v1686663848/Small_file_for_new_item_ibp8wd.png" alt="" >
        </div>
        <div class="new-item-form-inputs">
          <%= f.input :title %>
          <div class="new-item-form-tags">
            <div class="new-item-form-tag-collection">
              <%= f.association :tags,
                  collection: Tag.all,
                  input_html: {multiple: true, data: {controller: "tom-select"}},
                  include_hidden: false
              %>
            </div>
            <div class="new-tag-modal">
            <p>Don't see your tag? </p>
              <button type="button" class="blue-hollow-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <p>Create Tag</p>
              </button>
            </div>
          </div>
          <%= f.input :date, html5: true, label: "Item date", as: :date, input_html: { placeholder: 'YYYY-MM-DD' }%>
          <%= f.input :description %>
          <%= f.association :members, collection: @members, label_method: :first_name, as: :check_boxes %>
          <%= f.association :collections,
              collection: Collection.all,
              label_method: :label,
              input_html: {multiple: true, data: {controller: "tom-select"}},
              include_hidden: false
          %>
          <div class= "text-center mt-3 w-100">
            <%= f.button :submit, "Save", class: "black-primary-btn w-100" %>
          </div>
        </div>
      </div>

    <% end %>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new tag</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for(@tag) do |f| %>
            <%= f.input :name %>
            <%= f.submit %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
