<div class="item-show-container">

  <div class="image-file-container">
      <% @item.photos.each do |photo|%>
      <%=cl_image_tag(photo.key, width: 400, height: 300, crop: :fill) %>
      <% end %>
  </div>

  <div class="item-card-infos" data-controller="edit-item">

    <div class="item-infos" data-edit-item-target="infos">
      <h1>Title: <%= @item.title %>
      <h2>Description: <%= @item.description %></h2>
      <p>Tags:</p>
      <% @item.tags.each do |tag|%>
        <p><%= tag.name %></p>
      <% end %>
      <p>Members:</p>
      <% @item.members.each do |member| %>
        <p><%= member.full_name %></p>
      <% end %>

      <div id="comment-container" data-controller="insert-comment">
        <div data-insert-comment-target="comments">
          <% @item.comments.each do |comment| %>
          <%= render 'items/comment', comment: comment %>
          <% end %>
        </div>
        <%= render 'comments/form', item: @item, comment: @comment %>
      </div>

      <%= link_to "Edit Item", edit_item_path %>
    <%= link_to "Delete #{@item.title}", item_path(@item), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-decoration-none' %>
    </div>
  </div>
</div>
