<div class="container">
  <div class="item-image-container">
  </div>
  <div class="item-info">
  <h1><%= @item.title %></h1>
  <h2><%= @item.description %></h2>
  <% @item.tags.each do |tag|%>
    <%= tag.name %>
    <br>
  <% end %>
  <h3>Comment</h3>
<%= simple_form_for [@item, @comment] do |f| %>
  <%= f.input :content%>
  <%= f.submit "Submit comment", class: "btn btn-primary" %>
<% end %>
  </div>
</div>
